* {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 50px;
}
/* Search bar styles */
header input {
    position: absolute;
    right: 10px;
    color: gray;
}
/* red line styles */
main hr {
    width: 30px;
    border: 1px solid red;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
}
/* Styles for alphabet section of page*/
main ul {
    list-style-type: none;
}

main ul li {
    display: inline;
    color: gray;
    margin-right: 7px;
    margin-left: 7px;
}

main p {
    font-size: 30px;
}
/* Styles for "contact" boxes with name, email and phone*/
.contact {
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 10px;
}

.contact > div {
    width: 100%;
    height: 45%;
    background-color: black;
}

.contact > p {
    font-size: 10px;
    margin-top: 0px;
    color: gray;
}

.contact > div > p {
    color: white;
    font-size: 10px;
}
/* For some reason without this style phone number and email are too far apart*/
#phone {
    margin-top: -12px;
}
/* Styles for "add" button div*/
.circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 10px;
}

.circle > p {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 15px;
}

/* Using media query to hide search bar on smartphones*/
@media (max-width: 576px) {
    input {
        display: none;
    }
}